    <!--Top bar-->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a href="#" class="navbar-brand col-sm-3 col-md-2 mr-0">
        <span class="oi oi-camera-slr"></span>
        Dream Gallery
    </a>
    <input id="SearchBar" class="form-control form-control-dark w-80" type="text" placeholder="Search" aria-label="Search">
</nav>
<!--End top bar-->








