<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image gallery</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/Home")/css/bootstrap/bootstrap.css">
    <link href="@Url.Content("~/Content/Home")/icon/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/Content/Home")/css/style.css">
    <script src="https://kit.fontawesome.com/f2725eca15.js" crossorigin="anonymous"></script>
</head>
